/*
* Copyright 2023 DactylGroup s.r.o.
*
* Licensed under the EUPL, Version 1.2 or – as soon they
will be approved by the European Commission - subsequent
versions of the EUPL (the "Licence");
* You may not use this work except in compliance with the
Licence.
* You may obtain a copy of the Licence at:
*
* https://joinup.ec.europa.eu/software/page/eupl5
*
* Unless required by applicable law or agreed to in
writing, software distributed under the Licence is
distributed on an "AS IS" basis,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either
express or implied.
* See the Licence for the specific language governing
permissions and limitations under the Licence.
*/


@import '../../../source_assets/layout/scss/variables';
@import '../../../source_assets/layout/scss/mixins';


.livebox-user {
  &__content {
    max-width: 650px;

    &__title {
      position: relative;
      word-wrap: break-word;

      h4 {
        margin-bottom: 0;
        padding-bottom: 24px;
      }

      &__btn {
        padding: 8px;
        position: absolute;
        right: 0;
        bottom: 24px;

        svg path {
          fill: $gray-600;
        }

        &:hover {
          cursor: pointer;
        }
      }

      &__input {
        @include font-root-heading-heading-4;
        border: none;
        font-feature-settings: 'salt' on;
        letter-spacing: 0.4px;
        margin-bottom: 23px;
        max-width: 100%;
        padding: 0 40px 0 0;
        text-decoration: underline;

        &:focus-visible, &:focus {
          border: none;
          outline: none;
        }
      }
    }

    &__alliance-users {
      .user-list {
        margin-bottom: 24px;
        width: 100%;

        th {
          padding-bottom: 12px;
        }

        &__user-item {
          &__user-action__promote, &__user-action__exclude {
            [data-toggle="tooltip"] svg {
              height: 24px;
              width: 24px;
            }
          }
        }
      }

      .user-invite-select {
        margin-bottom: 28px;

        .btn--tall {
          padding: 24px;
        }
      }
    }

    &__button {
      float: none;
      margin-bottom: 128px;

      .dk--btn--danger {
        background-color: $red-700;
        float: right;

        .dk--btn__label {
          color: $white;
        }
      }
    }

    &__description {
      margin-bottom: 52px;
      text-align: right;

      p {
        text-align: initial;
      }

      &__input {
        width: 100%;
        border: none;
        box-shadow: 0px 1px 0px $gray-500;

        &:focus, &:focus-visible {
          border: none;
          outline: none;
          text-decoration: underline;
        }
      }

      &__btn {
        @include font-root-body-body-5-regular;
        border: none;
        color: $gray-600;
        display: inline-block;
        font-feature-settings: 'salt' on;
        font-weight: normal;
        letter-spacing: -0.154px;
        text-align: right;

        .dk--btn__label {
          cursor: pointer;
          font-weight: normal;

          &:hover {
            cursor: pointer;
            font-weight: normal;
          }
        }

        &:hover {
          cursor: pointer;
          font-weight: normal;
          color: $gray-700;
        }
      }
    }
  }
}

.modal-dialog {
  .modal-content {
    .modal-header {
      .modal-title {
        color: $black;
        display: inline-block;
        font-size: 16px;
        font-weight: 700;
      }
    }

    .modal-body {
      .bootbox-body {
        @include font-root-body-body-5-regular;
        padding-top: 0;
      }
    }

    .modal-footer {
      .btn {
        box-shadow: 0px 0px 1px rgba(26, 32, 44, 0.3), 0px 0px 2px rgba(26, 32, 44, 0.25), 0px 2px 4px rgba(26, 32, 44, 0.2);
        border-radius: 4px;

        padding: 12px;
        height: 40px;
        font-size: 14px;
        border: none;
        font-style: normal;
        font-weight: bold;
        line-height: 16px;
        margin: 8px;
      }

      .btn-warning {
        background: $red-700;
        color: white
      }

      .btn-outline-secondary {
        color: black;
        background: $gray-200;
        box-shadow: none;
      }
    }
  }
}
