/*
* Copyright 2023 DactylGroup s.r.o.
*
* Licensed under the EUPL, Version 1.2 or – as soon they
will be approved by the European Commission - subsequent
versions of the EUPL (the "Licence");
* You may not use this work except in compliance with the
Licence.
* You may obtain a copy of the Licence at:
*
* https://joinup.ec.europa.eu/software/page/eupl5
*
* Unless required by applicable law or agreed to in
writing, software distributed under the Licence is
distributed on an "AS IS" basis,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either
express or implied.
* See the Licence for the specific language governing
permissions and limitations under the Licence.
*/


@import '../../../../source_assets/layout/scss/_variables';
@import '../../../../source_assets/layout/scss/_mixins';

.alert {
  padding: 16px;
  border-radius: $borderRadius;

  .alert-message {
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 24px;
  }

  &.alert-success {
    background-color: $green-900;
    color: #fff;
  }

  &.alert-error {
    background-color: $red-700;
    color: #fff;
  }

  &.info {
    background-color: $blue-900;
    color: #fff;
  }

  &.alert-danger {
    background-color: $orange-500;
    color: #fff;
  }
}

.dk-alert {
  .btn {
    box-shadow: none !important;
  }

  padding: 19px 15px;
  border-radius: 8px;
  display: flex;
  border-width: 1px;
  border-style: solid;
  margin-bottom: 16px;
  margin-top: 12px;

  &--top-border {
    border-radius: 0 0 4px 4px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: -4px;
      z-index: -1;
      border-radius: 4px;
      height: 100%;
      /* width +2px because of border (1px on each side), left -1px to fit left border outer line */
      width: calc(100% + 2px);
      left: -1px;
    }
  }

  &--default {
    border-color: $color-alert-default-border;
    background-color: $gray-100;
    color: $blue-900;

    &.dk-alert--top-border {
      &::before {
        background: $gray-500;
      }
    }
  }

  &--info {
    border-color: rgba(66, 153, 225, 0.2);
    background-color: $blue-100;
    color: $blue-900;

    &.dk-alert--top-border {
      &::before {
        background: $blue-500;
      }
    }
  }

  &--success {
    border-color: rgba(72, 187, 120, 0.2);
    background-color: $green-100;
    color: $green-900;

    &.dk-alert--top-border {
      &::before {
        background: $green-500;
      }
    }
  }

  &--warning {
    border-color: rgba(237, 137, 54, 0.2);
    background-color: #FFFAF0;
    color: $orange-900;

    path {
      fill: $orange-600;
    }

    &.dk-alert--top-border {
      &::before {
        background: $orange-500;
      }
    }
  }

  &--critical {
    border-color: rgba(245, 101, 101, 0.2);
    background-color: $red-100;
    color: $red-900;

    &.dk-alert--top-border {
      &::before {
        background: $red-500;
      }
    }
  }

  &__icon + &__body {
    margin-left: 16px;
  }

  &__icon {
    display: flex;
    align-content: center;
    align-items: flex-start;
  }

  &__title {
    font-weight: 600;
  }

  &__title + &__text {
    margin-top: 8px;
  }

  &__body {
    flex-grow: 1;
  }

  &__close {
    img {
      cursor: pointer;
    }
  }

  .btn {
    margin-top: 24px;
  }
}
