/*
* Copyright 2023 DactylGroup s.r.o.
*
* Licensed under the EUPL, Version 1.2 or – as soon they
will be approved by the European Commission - subsequent
versions of the EUPL (the "Licence");
* You may not use this work except in compliance with the
Licence.
* You may obtain a copy of the Licence at:
*
* https://joinup.ec.europa.eu/software/page/eupl5
*
* Unless required by applicable law or agreed to in
writing, software distributed under the Licence is
distributed on an "AS IS" basis,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either
express or implied.
* See the Licence for the specific language governing
permissions and limitations under the Licence.
*/


@import '../../../../source_assets/layout/scss/_variables';
@import '../../../../source_assets/layout/scss/_mixins';

/* Sets hover color for button label and icons svg fill  */
@mixin setHover($color, $fill) {
  .dk--btn__label {
    color: $color;
  }

  .dk--btn__icon {
    path {
      fill: $fill;
    }
  }
}

.dk--btn {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 12px;
  border-radius: $borderRadius;
  border: none;
  -webkit-transition: .5s;
  transition: .5s;
  white-space: nowrap;

  &__label {
    @include font-root-button-button-5();
    text-align: center;
    padding: 0 4px;
  }

  &__icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: -4px;
    text-align: center;

    &--hidden {
      display: none;
    }
  }

  &--mini {
    padding: 8px;
    max-height: 32px;

    &__label {
      @include font-root-button-button-5();
      text-align: center;
      padding: 0 4px;
    }

    &__icon {
      display: inline-block;
      width: 16px;
      height: 16px;

      &--hidden {
        display: none;
      }
    }
  }

  &--floating {
    border-radius: 20px;
  }

  &--primary, &--floating {
    background-color: $primary-500;
    box-shadow: $shadow-button-primary;

    @include setHover(#fff, #fff);

    &:disabled {
      background-color: $gray-200;
      box-shadow: none;

      &:hover {
        background-color: $gray-200;
        box-shadow: none;

        @include setHover($gray-500, $gray-500);
      }

    }

    &:hover {
      background-color: $primary-500;
      box-shadow: $shadow-button-hover;

      @include setHover(#fff, #fff);

    }

    &:focus {
      background-color: $color-button-primary-focused-background;
      box-shadow: $shadow-button-hover;
      outline: none;

      @include setHover(#fff, #fff);

    }

    &:active {
      background-color: $color-button-primary-pressed-background;
      box-shadow: $shadow-button-active;
      outline: none;

      @include setHover(#fff, #fff);

    }
  }

  &--secondary {
    background-color: $gray-200;

    @include setHover($gray-900, $gray-600);

    &:disabled {
      background-color: $gray-200;

      @include setHover($gray-500, $gray-500);

    }

    &:hover {
      background-color: $gray-400;

      @include setHover($gray-900, $gray-600);

    }

    &:focus {
      background-color: $gray-200;
      outline: 2px auto $blue-500;

      @include setHover($gray-900, $gray-600);

      .dk--btn__icon {
        path {
          border-style: solid;
          border-width: 2px;
          border-color: $blue-500;
        }
      }
    }

    &:active {
      background-color: $gray-700;
      color: white;
      outline: none;

      @include setHover(#fff, #fff);

    }
  }

  &--ghost {
    background-color: transparent;

    @include setHover($gray-900, $gray-600);

    &:disabled {
      background-color: transparent;

      @include setHover($gray-500, $gray-400);
    }

    &:hover {
      background-color: $color-button-ghost-hover-background;

      @include setHover($gray-900, $gray-600);
    }

    &:focus {
      background-color: transparent;
      outline: 2px auto $blue-500;

      @include setHover($gray-900, $gray-700);
    }

    &:active {
      background-color: $color-button-ghost-pressed-background;
      outline: none;

      @include setHover($gray-900, $gray-700);
    }
  }

  &--circle {
    border-radius: 50%;

    &:focus {
      outline: none;
    }
  }


  &--warning {
    background-color: $orange-200;

    .dk--btn__label {
      color: $orange-900;
    }

    &:hover {
      background-color: $orange-300;
      @include setHover($orange-900, $orange-600);

    }

    &:focus {
      background-color: $orange-300;
      @include setHover($orange-900, $orange-600);
    }

    &:active {
      background-color: $orange-200;
      color: $orange-900;
    }
  }

  &--danger {
    background-color: $red-200;

    .dk--btn__label {
      color: $red-900;
    }

    &:hover {
      background-color: $red-300;
      @include setHover($red-900, $red-600);

    }

    &:focus {
      background-color: $red-300;
      @include setHover($red-900, $red-600);
    }

    &:active {
      background-color: $red-200;
      color: $red-900;
    }
  }

}