/*
* Copyright 2023 DactylGroup s.r.o.
*
* Licensed under the EUPL, Version 1.2 or – as soon they
will be approved by the European Commission - subsequent
versions of the EUPL (the "Licence");
* You may not use this work except in compliance with the
Licence.
* You may obtain a copy of the Licence at:
*
* https://joinup.ec.europa.eu/software/page/eupl5
*
* Unless required by applicable law or agreed to in
writing, software distributed under the Licence is
distributed on an "AS IS" basis,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either
express or implied.
* See the Licence for the specific language governing
permissions and limitations under the Licence.
*/


@import '../../../../source_assets/layout/scss/_variables';
@import '../../../../source_assets/layout/scss/_mixins';

.grid-view {

  table {
    border-collapse: separate;
    border-spacing: 0;
    border-radius: $borderRadius;
    overflow: hidden;
    width: 100%;
    margin: 0;

    thead {
      tr {
        background: $gray-300;
        padding: 18px 12px;

        th {
          padding: 16px 12px;

          @include font-root-body-body-5-medium;
          letter-spacing: -0.154px;
          font-feature-settings: 'salt' on;
          color: $gray-900;
          text-decoration: none;
          position: relative;

          a {
            @include font-root-body-body-5-medium;
            letter-spacing: -0.154px;
            font-feature-settings: 'salt' on;
            color: $gray-900;
            text-decoration: none;
            position: relative;

            &::after {
              content: ' ';
              width: 20px;
              height: 20px;
              position: absolute;
              top: -2px;
            }

            &.asc::after {
              background-image: url(/img/icon/ic-caret-down-20.svg);
              transform: rotate(180deg);
            }

            &.desc::after {
              background-image: url(/img/icon/ic-caret-down-20.svg);
            }

            &:hover {
              text-decoration: none;
            }
          }
        }
      }
    }

    tbody {
      tr {
        &.kv-expand-detail-row {
          td[colspan] {
            padding: 0;
            height: 0;
          }
        }

        td {
          @include font-root-body-body-5-regular;
          letter-spacing: -0.154px;
          font-feature-settings: 'salt' on;
          color: $gray-900;
          padding: 16px 12px;
          border-bottom: 1px solid $gray-300;

          i {
            color: $gray-600;
          }
        }
      }

    }
  }

  .summary {
    display: flex;
    justify-content: center;
    @include font-root-body-body-5-regular;
    letter-spacing: -0.154px;
    font-feature-settings: 'salt' on;
    color: $gray-700;
  }

  .pagination {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center;
    margin-top: 48px;
    margin-bottom: 24px;

    li {
      border-radius: 50%;
      width: 40px;
      height: 40px;
      align-items: center;
      display: flex;
      justify-content: center;
      margin: 0 4px;

      &.active {
        background-color: $gray-300;
      }

      &.next,
      &.prev {
        background-color: $primary-500;
        padding: 8px;
        box-shadow: $shadow-button-primary;

        path {
          fill: #fff;
        }
      }

      &.disabled {
        background-color: $gray-200;
        box-shadow: none;
        path {
          fill: $gray-500;
        }
      }

      a {
        @include font-root-body-body-4-medium;
        letter-spacing: -0.4px;
        font-feature-settings: 'salt' on;
        color: $gray-900;
        width: 24px;
        height: 24px;
        position: relative;
        text-align: center;

        &:after {
          content: ' ';
          position: absolute;
          top: -2px;
          left: -1px;
          color: white;
          background-image: url(/img/icon/ic-chevron-right-24.svg);
        }
      }
    }
  }

  input[type=checkbox] {

    position: relative;
    visibility: hidden;

    &::after {
      content: ' ';
      background-image: url(/img/icon/ic-checkbox-blank-20.svg);
      position: absolute;
      width: 20px;
      height: 20px;
      top: -3px;
      left: -3px;
      visibility: visible;
      transition: .5s;
    }

    &:checked {
      &::after {
        background-image: url(/img/icon/ic-checkbox-checked-20.svg);
      }
    }
  }
}