/*
* Copyright 2023 DactylGroup s.r.o.
*
* Licensed under the EUPL, Version 1.2 or – as soon they
will be approved by the European Commission - subsequent
versions of the EUPL (the "Licence");
* You may not use this work except in compliance with the
Licence.
* You may obtain a copy of the Licence at:
*
* https://joinup.ec.europa.eu/software/page/eupl5
*
* Unless required by applicable law or agreed to in
writing, software distributed under the Licence is
distributed on an "AS IS" basis,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either
express or implied.
* See the Licence for the specific language governing
permissions and limitations under the Licence.
*/


@mixin font-root-heading-heading-1 {
  font-size:68px;
  font-family:"SF Pro Display", sans-serif;
  font-weight:bold;
  line-height:88px;
}
@mixin font-root-heading-heading-2 {
  font-size:56px;
  font-family:"SF Pro Display", sans-serif;
  font-weight:bold;
  line-height:72px;
}
@mixin font-root-heading-heading-3 {
  font-size:44px;
  font-family:"SF Pro Display", sans-serif;
  font-weight:bold;
  line-height:56px;
}
@mixin font-root-heading-heading-4 {
  font-size:34px;
  font-family:"SF Pro Display", sans-serif;
  font-weight:bold;
  line-height:40px;
}
@mixin font-root-heading-heading-5 {
  font-size:25px;
  font-family:"SF Pro Display", sans-serif;
  font-weight:600;
  line-height:32px;
}
@mixin font-root-heading-heading-6 {
  font-size:20px;
  font-family:"SF Pro Display", sans-serif;
  font-weight:500;
  line-height:24px;
}
@mixin font-root-body-body-2-regular {
  font-size:23px;
  font-family:"SF Pro Display", sans-serif;
  font-weight:normal;
  line-height:32px;
}
@mixin font-root-body-body-2-500 {
  font-size:23px;
  font-family:"SF Pro Display", sans-serif;
  font-weight:500;
  line-height:32px;
}
@mixin font-root-body-body-2-emphasized {
  font-size:23px;
  font-family:"SF Pro Display", sans-serif;
  font-weight:bold;
  line-height:32px;
}
@mixin font-root-body-body-3-regular {
  font-size:20px;
  font-family:"SF Pro Display", sans-serif;
  font-weight:normal;
  line-height:28px;
}
@mixin font-root-body-body-3-500 {
  font-size:20px;
  font-family:"SF Pro Display", sans-serif;
  font-weight:500;
  line-height:28px;
}
@mixin font-root-body-body-3-emphasized {
  font-size:20px;
  font-family:"SF Pro Display", sans-serif;
  font-weight:bold;
  line-height:28px;
}
@mixin font-root-body-body-4-regular {
  font-size:17px;
  font-family:"SF Pro Text", sans-serif;
  font-weight:normal;
  line-height:24px;
}
@mixin font-root-body-body-4-medium {
  font-size:17px;
  font-family:"SF Pro Text", sans-serif;
  font-weight:500;
  line-height:24px;
}
@mixin font-root-body-body-4-emphasized {
  font-size:17px;
  font-family:"SF Pro Text", sans-serif;
  font-weight:bold;
  line-height:24px;
}
@mixin font-root-body-body-5-regular {
  font-size:14px;
  font-family:"SF Pro Text", sans-serif;
  font-weight:normal;
  line-height:20px;
}
@mixin font-root-body-body-5-medium {
  font-size:14px;
  font-family:"SF Pro Text", sans-serif;
  font-weight:500;
  line-height:20px;
}
@mixin font-root-body-body-5-emphasized {
  font-size:14px;
  font-family:"SF Pro Text", sans-serif;
  font-weight:bold;
  line-height:20px;
}
@mixin font-root-body-body-6-regular {
  font-size:11px;
  font-family: "SF Pro Text", sans-serif;
  font-weight:normal;
  line-height:16px;
}
@mixin font-root-body-body-6-500 {
  font-size:11px;
  font-family:"SF Pro Text", sans-serif;
  font-weight:500;
  line-height:16px;
}
@mixin font-root-body-body-6-emphasized {
  font-size:11px;
  font-family:"SF Pro Text", sans-serif;
  font-weight:bold;
  line-height:16px;
}
@mixin font-root-overline-overline-3 {
  font-size:20px;
  font-family:"SF Pro Text", sans-serif;
  font-weight:bold;
  line-height:28px;
}
@mixin font-root-overline-overline-4 {
  font-size:17px;
  font-family:"SF Pro Text", sans-serif;
  font-weight:bold;
  line-height:24px;
}
@mixin font-root-overline-overline-5 {
  font-size:14px;
  font-family:"SF Pro Text", sans-serif;
  font-weight:bold;
  line-height:20px;
}
@mixin font-root-overline-overline-6 {
  font-size:11px;
  font-family:"SF Pro Text", sans-serif;
  font-weight:bold;
  line-height:16px;
}
@mixin font-root-button-button-4 {
  font-size:17px;
  font-family:"SF Pro Text", sans-serif;
  font-weight:600;
  line-height:24px;
}
@mixin font-root-button-button-5 {
  font-size:14px;
  font-family:"SF Pro Text", sans-serif;
  font-weight:600;
  line-height:16px;
}
@mixin font-root-body-body-1-regular {
  font-size:28px;
  font-family:"SF Pro Display", sans-serif;
  font-weight:normal;
  line-height:40px;
}
@mixin font-root-body-body-1-500 {
  font-size:28px;
  font-family:"SF Pro Display", sans-serif;
  font-weight:500;
  line-height:40px;
}
@mixin font-root-body-body-1-emphasized {
  font-size:28px;
  font-family:"SF Pro Display", sans-serif;
  font-weight:bold;
  line-height:40px;
}