/*
* Copyright 2023 DactylGroup s.r.o.
*
* Licensed under the EUPL, Version 1.2 or – as soon they
will be approved by the European Commission - subsequent
versions of the EUPL (the "Licence");
* You may not use this work except in compliance with the
Licence.
* You may obtain a copy of the Licence at:
*
* https://joinup.ec.europa.eu/software/page/eupl5
*
* Unless required by applicable law or agreed to in
writing, software distributed under the Licence is
distributed on an "AS IS" basis,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either
express or implied.
* See the Licence for the specific language governing
permissions and limitations under the Licence.
*/


// Breakpoints
$xs-breakpoint: 0;
$sm-breakpoint: 425px;
$md-breakpoint: 768px;
$lg-breakpoint: 1024px;
$xl-breakpoint: 1272px;

$borderRadius: 4px;
$contentWidth: 1680px;

//colors
$color-header-navigation-bar-background: rgba(255,255,255,1);
$color-header-filter-bar-background: rgba(255,255,255,1);
$color-avatar-default-background: rgba(226,232,240,1);
$color-avatar-default-text: rgba(74,85,104,1);

$black: #000000;
$white: #ffffff;
$gray-100: rgb(247, 250, 252);
$gray-200: rgb(237, 242, 247);
$gray-300: rgb(226, 232, 240);
$gray-400: rgba(203,213,224,1);
$gray-500: rgba(160,174,192,1);
$gray-600: rgba(113,128,150,1);
$gray-700: rgba(74,85,104,1);
$gray-800: rgba(45,55,72,1);
$gray-900: rgba(26,32,44,1);
$red-100: rgba(255,245,245,1);
$red-200: rgba(254,215,215,1);
$red-300: rgba(254,178,178,1);
$red-400: rgba(252,129,129,1);
$red-500: rgba(245,101,101,1);
$red-600: rgba(229,62,62,1);
$red-700: rgba(197,48,48,1);
$red-800: rgba(155,44,44,1);
$red-900: rgba(116,42,42,1);
$orange-100: rgba(255,250,240,1);
$orange-200: rgba(254,235,200,1);
$orange-300: rgba(251,211,141,1);
$orange-400: rgba(246,173,85,1);
$orange-500: rgba(237,137,54,1);
$orange-600: rgba(221,107,32,1);
$orange-700: rgba(192,86,33,1);
$orange-800: rgba(156,66,33,1);
$orange-900: rgba(123,52,30,1);
$green-100: rgba(240,255,244,1);
$green-200: rgba(198,246,213,1);
$green-300: rgba(154,230,180,1);
$green-400: rgba(104,211,145,1);
$green-500: rgba(72,187,120,1);
$green-600: rgba(56,161,105,1);
$green-700: rgba(47,133,90,1);
$green-800: rgba(39,103,73,1);
$green-900: rgba(34,84,61,1);
$blue-100: rgba(235,248,255,1);
$blue-200: rgba(190,227,248,1);
$blue-300: rgba(144,205,244,1);
$blue-400: rgba(99,179,237,1);
$blue-500: rgb(66, 153, 225);
$blue-600: rgba(49,130,206,1);
$blue-700: rgba(43,108,176,1);
$blue-800: rgba(44,82,130,1);
$blue-900: rgba(42,67,101,1);
$primary-100: rgba(208,206,238,1);
$primary-200: rgb(162, 157, 220);
$primary-300: rgb(115, 109, 203);
$primary-400: rgb(73, 64, 181);
$primary-500: rgba(53,47,132,1);
$primary-600: rgba(48,42,119,1);
$primary-700: rgba(42,38,106,1);
$primary-800: rgba(37,33,92,1);
$primary-900: rgba(32,28,79,1);

$color-button-primary-focused-background: rgb(83, 78, 150);
$color-button-primary-pressed-background: rgb(83, 78, 150);
$color-button-ghost-hover-background: rgb(235, 234, 243);
$color-button-ghost-pressed-background: rgb(215, 213, 230);
$shadow-button-primary: 0px 2px 4px rgba(26, 32, 44, 0.2), 0px 0px 2px rgba(26, 32, 44, 0.25), 0px 0px 1px rgba(26, 32, 44, 0.3);
$shadow-button-hover : 0px 4px 8px rgba(26, 32, 44, 0.2), 0px 2px 4px rgba(26, 32, 44, 0.25), 0px 1px 2px rgba(26, 32, 44, 0.3);
$shadow-button-active: 0px 6px 16px rgba(26, 32, 44, 0.2), 0px 4px 8px rgba(26, 32, 44, 0.25), 0px 2px 4px rgba(26, 32, 44, 0.3);

$shadow-dropdown: 0px 4px 16px rgba(26, 32, 44, 0.1), 0px 1px 4px rgba(26, 32, 44, 0.15);
$shadow-content-box:  0px 4px 32px rgba(26, 32, 44, 0.1), 0px 2px 8px rgba(26, 32, 44, 0.15), 0px 0px 1px rgba(26, 32, 44, 0.25);
$shadow-header: 0px 2px 4px rgba(26, 32, 44, 0.1), 0px 1px 2px rgba(26, 32, 44, 0.15), 0px 0px 1px rgba(26, 32, 44, 0.2);
$shadow-footer: 0px 4px 16px rgba(26, 32, 44, 0.1), 0px 1px 4px rgba(26, 32, 44, 0.15), 0px 0px 1px rgba(26, 32, 44, 0.2);

$color-chip-hover-background: rgba(247,250,252,1);
$color-chip-hover-text: rgba(39,37,60,1);
$color-chip-focused-text: rgba(39,37,60,1);
$color-chip-pressed-text: rgba(39,37,60,1);
$color-chip-selected-background: rgba(235,234,243,1);
$color-chip-selected-border: rgba(154,151,193,1);
$color-chip-disabled-border: rgba(226,232,240,1);

$color-badge-default-bg: $gray-300;
$color-badge-default-txt: $gray-900;
$color-badge-success-bg: $green-200;
$color-badge-success-txt: $green-900;
$color-badge-info-txt: rgba(31, 49, 78, 1);
$color-badge-info-bg: rgba(151, 179, 227, 1);
$color-badge-warning-txt: $orange-900;
$color-badge-warning-bg: $orange-200;

$color-alert-default-border : rgba(160, 174, 192, 0.2);

$color-icon-fs: #319795;
$color-icon-wigig: #D53F8C;
$color-icon-ap: #FF3300;
$color-icon-tg: #5A67D8;
$color-icon-52: #D69E2E;

$color-content-font: rgba(26, 32, 44, 1);

