/*
* Copyright 2023 DactylGroup s.r.o.
*
* Licensed under the EUPL, Version 1.2 or – as soon they
will be approved by the European Commission - subsequent
versions of the EUPL (the "Licence");
* You may not use this work except in compliance with the
Licence.
* You may obtain a copy of the Licence at:
*
* https://joinup.ec.europa.eu/software/page/eupl5
*
* Unless required by applicable law or agreed to in
writing, software distributed under the Licence is
distributed on an "AS IS" basis,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either
express or implied.
* See the Licence for the specific language governing
permissions and limitations under the Licence.
*/


@import "variables";
@import "mixins";

.coordination-calc {

  word-break: normal;

  .grid-view table thead tr th {
    padding: 16px 12px 4px 12px;
  }

  .grid-view table thead tr td {
    padding: 4px;
  }

  .grid-view table tbody tr {
    &.kv-expand-detail-row {
      td[colspan] {
        padding: 0;
        height: 0;
      }
    }

    td {
      height: 57px;
    }
  }

  input[type="text"] {
    background: #fff;
    border: 2px solid $gray-400;
    box-sizing: border-box;
    border-radius: 4px;
    outline: none;
    width: 100%;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -.4px;
    font-feature-settings: 'salt' on;
    color: $gray-700;
    padding: 8px;
    height: 35px;

    &:focus {
      border: 2px solid $primary-500;
    }
  }

  .select2-container--default .select2-selection--single {
    padding: 0;
    border: 2px solid $gray-400;
  }

  .select2-container--focus .select2-selection--single {
    padding: 0;
    border: 2px solid $primary-500;
  }

  .select2-container--default .select2-container--below {
    height: 35px;
  }

  .select2-container--default .select2-selection--single .select2-selection__rendered {
    font-size: 14px;
    line-height: 16px;
    height: auto;
  }
}

.select2-container--default.select2-container--focus .select2-selection--single {
  border: 1px solid $primary-500;
}

.collision-table {
  tbody {
    td {
      color: $gray-700;

      &:first-child {
        width: auto;
      }
    }

    tr:last-child {
      td {
        border-bottom: none;
      }
    }
  }
}

.dk--conflict {
  padding-left: 4px;

  &__yes {
    color: $orange-600;
  }

  &__no {
    color: $green-600;
  }
}