/*
* Copyright 2023 DactylGroup s.r.o.
*
* Licensed under the EUPL, Version 1.2 or – as soon they
will be approved by the European Commission - subsequent
versions of the EUPL (the "Licence");
* You may not use this work except in compliance with the
Licence.
* You may obtain a copy of the Licence at:
*
* https://joinup.ec.europa.eu/software/page/eupl5
*
* Unless required by applicable law or agreed to in
writing, software distributed under the Licence is
distributed on an "AS IS" basis,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either
express or implied.
* See the Licence for the specific language governing
permissions and limitations under the Licence.
*/


@import 'variables';
@import 'mixins';
@import 'partial/bootstrap';

html, body {
  height: 100%;
}

html.header-menu-disabled-scroll {
  body {
    overflow: hidden;
  }
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  &:hover {
    text-decoration: none;
  }
}

.center-container {
  flex: 1;
  display: flex;
}

.dk--column-holder {
  display: flex;
  margin: 0 auto;
  flex: 1;

  .dk--container:nth-child(1) {

    @media (min-width: $lg-breakpoint) {
      padding-bottom: 216px;
    }

    .dk--container__content {
      margin-left: auto;
      word-break: break-word;
    }
  }

  .dk--container:last-child {
    .dk--container__content {
      margin-right: auto;
    }
  }

}

.dk--container {

  padding-left: 0;
  padding-right: 0;

  &__content {
    padding: 32px;
    @media(min-width: $lg-breakpoint) {
      max-width: $contentWidth/2;
    }
  }

  &__gray {
    background-color: $gray-200;
  }
}

.dk--content-box {
  background: white;
  border-radius: 8px;
  box-shadow: $shadow-content-box;
}

.dk--page-title {
  font-family: "SF Pro Display", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  line-height: 56px;
  letter-spacing: 0.4px;
  font-feature-settings: 'salt' on;
  color: $gray-900;
}

.initials-icon {
  background: $color-avatar-default-background;
  border-radius: 30px;
  width: 56px;
  height: 56px;

  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 56px;

  text-align: center;
  letter-spacing: 0.4px;
  font-feature-settings: 'salt' on;
  color: $color-avatar-default-text;

  &.initials-small {
    border-radius: 16px;
    width: 32px;
    height: 32px;

    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 32px;
    letter-spacing: -0.154px;
  }
}

.dk--table--scroll-holder,
#coordination-calc-wrapper {
  overflow-x: auto;

  @media screen and (max-width: $md-breakpoint) {
    width: calc(100vw - 80px);
  }

  /* width */
  &::-webkit-scrollbar {
    height: 5px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px $gray-300;
    border-radius: 3px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $primary-200;
    border-radius: 3px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: $primary-300;
  }
}

.dk--table--scroll-holder {
  .dk--table--ghost {
    min-width: 530px;
  }
}

.statusColumn {
  padding: 2px 8px;
  border-radius: 16px;

  &.draft {
    background: $color-badge-warning-bg;
    color: $color-badge-warning-txt;
  }

  &.waiting {
    background: $color-badge-info-bg;
    color: $color-badge-info-txt;
  }

  &.finished {
    background: $color-badge-success-bg;
    color: $color-badge-success-txt;
  }

  &.expired {
    background: $color-badge-default-bg;
    color: $color-badge-default-txt;
  }

  &.unpublished {
    background: rgb(176, 219, 232);
    color: rgb(31, 67, 78);
  }
}

.table-subheader__dropdown__menu li.checkbox .statusCheckbox {
  &.draft {
    color: $orange-700;
  }

  &.waiting {
    color: $blue-700;
  }

  &.finished {
    color: $green-700;
  }

  &.expired {
    color: $gray-700;
  }

  &.unpublished {
    color: rgb(31, 67, 78);
  }
}

// SUBHEADER for table filters
.table-subheader {
  &__dropdown {
    &__button {
      @include font-root-body-body-5-medium;
      color: $gray-900;
      padding: 6px 12px;

      &:after {
        display: none;
      }

      span {
        padding: 0;
      }

      &.selected {
        color: $primary-500;
      }
    }

    &__menu {
      background: $white;
      border-radius: 8px;
      box-shadow: 0 0 1px rgba(26, 32, 44, 0.25), 0 2px 8px rgba(26, 32, 44, 0.15), 0 4px 32px rgba(26, 32, 44, 0.1);
      min-width: 200px;
      padding: 0;
      transform: translate3d(0px, 52px, 0px) !important;

      li.checkbox {
        margin: 12px 24px 12px 22px;

        &:first-of-type {
          margin-top: 20px;
        }

        &:last-of-type {
          margin-bottom: 20px;
        }

        span.input-icon {
          background: #FFFFFF;
          border: 2px solid $gray-400;
          border-radius: 4px;
          height: 18px;
          margin: 3px;
          text-align: center;
          width: 18px;

          svg {
            position: relative;
            top: 3px;
            vertical-align: top;
          }
        }

        input[type="checkbox"]:checked ~ .input-icon {
          background: $primary-500;
          border: solid 2px $primary-500;
        }

        .checkbox-label {
          @include font-root-body-body-4-regular;
          color: $gray-900;
          font-feature-settings: 'salt' on;
          letter-spacing: -0.4px;
          white-space: nowrap;
          padding: 0 0 0 40px !important;
        }
      }

      &__buttons {
        box-shadow: 0px -1px 0px $gray-300;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 12px;

        button:first-of-type {
          margin-right: 32px;
        }
      }
    }
  }

  .search-input {
    @include font-root-body-body-5-regular;
    border: 2px solid $gray-400;
    box-sizing: border-box;
    border-radius: 4px;
    margin-left: 8px;
    letter-spacing: -0.154px;
    font-feature-settings: 'salt' on;
    color: $gray-900;
    padding: 6px 6px 6px 36px;
    background: url('/frontend/web/source_assets/img/icon/ic-search-12.svg') no-repeat scroll 12px 11px;
  }
}

// Table for stations
.stations-list {
  width: auto;
  @media (max-width: $lg-breakpoint) {
    max-width: 100vw;
  }
}

.stations-table-loading {
  background: $white;
  border-radius: 8px;
  box-shadow: 0 0 1px rgba(26, 32, 44, 0.25), 0 2px 8px rgba(26, 32, 44, 0.15), 0 4px 32px rgba(26, 32, 44, 0.1);
  @include font-root-body-body-5-medium;
  color: $color-content-font;
  font-feature-settings: 'salt' on;
  letter-spacing: -0.154px;
  margin-left: auto;
  margin-right: auto;
  max-width: 300px;
  padding: 16px;
}

#pjax-loader {
  position: relative;

  #loading {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ffffff80;
    z-index: 5;
    padding-top: 18px;
    display: none;
  }
}

.vgt-table {
  border: none !important;
  margin-top: 22px;

  thead {
    th {
      background: $gray-300 !important;
      border: none !important;
      padding: 14px 12px;
      min-width: 75px;

      &.col-status {
        @media (max-width: $md-breakpoint) {
          width: 120px !important;
        }
      }

      span {
        @include font-root-body-body-5-medium;
        color: $color-content-font;
        font-feature-settings: 'salt' on;
        letter-spacing: -0.154px;
      }

      &:first-of-type {
        border-bottom-left-radius: 4px;
        border-top-left-radius: 4px;
      }

      &:last-of-type {
        border-bottom-right-radius: 4px;
        border-top-right-radius: 4px;
      }

      &:after, &:before {
        display: none;
      }

      .sort-triangle-icon {
        display: none;
      }

      &.sorting {
        &.sorting-asc {
          .sort-triangle-icon {
            display: inline;
          }
        }

        &.sorting-desc {
          .sort-triangle-icon {
            display: inline;
            transform: rotate(180deg);
          }
        }
      }
    }
  }

  tbody {
    tr {
      &:hover {
        background: $gray-200;

        .status-icon-background {
          background: $gray-200;
        }
      }
    }

    td {
      border: none !important;
      border-bottom: 1px solid $gray-300 !important;
      padding: 0 !important;
      white-space: nowrap;

      &:first-of-type, &:nth-of-type(2) {
        width: 112px;
      }

      span {
        @include font-root-body-body-5-regular;
        color: $color-content-font;
        font-feature-settings: 'salt' on;
        letter-spacing: -0.154px;

        &.top-span {
          display: block;
          padding: 14px 30px 14px 12px !important;

          &.col-with-link {
            padding: 0 !important;

            & > a {
              display: flex;
              align-items: center;
              padding: 14px 30px 14px 12px !important;

              @media (max-width: $md-breakpoint) {
                padding: 14px 5px 14px 5px !important;
              }

            }

            &:hover {
              cursor: pointer;
            }
          }

        }

        &.name-link {
          a {
            width: 380px;
            min-width: 75px;
            @media (max-width: 1680px) {
              width: calc(50vw - 467px);
            }
            @media (max-width: $lg-breakpoint) {
              width: calc(100vw - 455px);
            }

            span {
              text-overflow: ellipsis;
              display: inline-block;
              overflow: hidden;
            }

            img {
              margin-left: 4px;
            }
          }
        }

        &.type-link {
          a {
            @media (max-width: $md-breakpoint) {
              width: 20vw;
              text-overflow: ellipsis;
              overflow: hidden;
              display: block !important;
            }
          }
        }

        a {
          color: $color-content-font;
        }

        &.status-column {
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          @media (max-width: $md-breakpoint) {
            justify-content: center;
          }

          &.top-span.col-with-link > a {
            padding-right: 84px !important;
          }

          &__dropdown {
            background: none;
            top: 12px;
            border-radius: 50%;
            display: inline-block;
            height: 32px;
            position: absolute;
            right: 14px;
            width: 32px;

            &__menu {
              background: $white;
              border-radius: 8px;
              box-shadow: 0 0 1px rgba(26, 32, 44, 0.25), 0 2px 8px rgba(26, 32, 44, 0.15), 0 4px 32px rgba(26, 32, 44, 0.1);
              padding: 16px;
              top: 10px !important;

              &__item {
                @include font-root-body-body-5-regular;
                color: $gray-700;
                font-feature-settings: 'salt' on;
                letter-spacing: -0.154px;

                &:first-of-type {
                  margin-bottom: 4px;
                }

                &__bold {
                  @include font-root-body-body-5-medium;
                }
              }
            }

            .status-icon {
              border-radius: 50%;
              display: inline-block;
              height: 32px;
              position: relative;
              width: 32px;

              &:after {
                display: none;
              }

              svg {
                height: 18px;
                left: 7px;
                position: relative;
                top: 5px;
                width: 18px;
              }

              &.state-danger path {
                fill: $red-600;
              }

              &.state-warning path {
                fill: $orange-600;
              }

              &.state-ok path {
                fill: $green-700;
              }

              &.state-na path {
                fill: grey;
              }

              &:hover {
                background: $gray-300;

                .status-icon {
                  cursor: pointer;

                  &.state-expired path {
                    fill: darken($red-600, 10%);
                  }

                  &.state-warning path {
                    fill: darken($orange-600, 10%);
                  }

                  &.state-active path {
                    fill: darken($green-700, 10%);
                  }
                }
              }
            }

            .date-state {

              &-warning {
                font-weight: bold;
                color: $orange-600;
              }

              &-danger {
                font-weight: bold;
                color: $red-600;
              }
            }
          }
        }
      }
    }
  }
}

.vgt-wrap__footer {
  .footer__row-count {
    display: none;
  }

  .footer__navigation {
    float: none !important;
    text-align: center;

    .footer__navigation__page-btn {
      background: $primary-500;
      border-radius: 50%;
      box-shadow: 0 0 1px rgba(26, 32, 44, 0.3), 0 0 2px rgba(26, 32, 44, 0.25), 0 2px 4px rgba(26, 32, 44, 0.2);
      height: 40px;
      padding: 14px 17px;
      transition: opacity 0.2s;
      width: 40px;

      span {
        display: none;

        &.chevron {
          background: url('/frontend/web/source_assets/img/icon/ic-chevron-right-12.svg') no-repeat center center;
          display: block;
          height: 12px;
          margin: 0;
          width: 6px;

          &.left {
            transform: rotate(180deg);
          }

          &.right {
            transform: rotate(0);
          }

          &:after {
            display: none;
          }
        }
      }

      &.disabled {
        background: $gray-200;
        opacity: 1;

        .chevron {
          background: url('/frontend/web/source_assets/img/icon/ic-chevron-left-12.svg') no-repeat center center;

          &.left {
            transform: rotate(0);
          }

          &.right {
            transform: rotate(180deg);
          }
        }

        &:hover {
          opacity: 1;
        }
      }

      &:hover {
        opacity: 0.9;
      }
    }
  }
}

.sub-header-label .input-icon {
  top: 2px !important;
}


// END vgt-table

.mapboxgl-ctrl-bottom-left, .mapboxgl-ctrl-bottom-right, .mapboxgl-ctrl-top-left, .mapboxgl-ctrl-top-right {
  z-index: 0 !important;
}

.modal.bootstrap-dialog {
  z-index: 1056000 !important;
}

.bootstrap-dialog-header {
  background: white !important;

  .bootstrap-dialog-title {
    color: black !important;
    font-weight: bold;
  }
}

.second_icon {
  right: 42px !important;

  .dropdown-menu {
    right: 42px !important;
  }
}

.grid-menu {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    font-size: 17px;
    line-height: 24px;
    color: $gray-900;
    border-radius: 4px;

    a {
      width: 100%;
      display: block;
      padding: 6px 12px;
    }

    &:hover {
      background-color: $gray-200;
    }
  }
}

#notifications {
  padding: 10px 20px;
  max-width: 1680px;
  margin: 0 auto;

  .notification {
    border-radius: 4px;
    padding: 12px 45px 10px 14px;
    background: #ffe9e9;
    margin: 5px;
    position: relative;
    font-size: 12px !important;
    font-family: "SF Pro Text", sans-serif !important;
    color: #000 !important;
    line-height: 1.5 !important;

    * {
      font-size: 12px !important;
      margin: 0 !important;
      padding: 0;
      line-height: 1.5 !important;
      font-family: "SF Pro Text", sans-serif !important;
      color: #000 !important;
    }

    a{
      color: #007bff !important;
      text-decoration: underline;
    }

    ol, ul {
      padding-left: 40px !important;
    }

    .close {
      position: absolute;
      padding: 7px 13px;
      color: #9c9c9c;
      right: 0;
      top: 0;
      cursor: pointer;
      font-size: 18px !important;
    }
  }
}

@import "partial/header";
@import "partial/footer";
@import "partial/overlay";

