/*
* Copyright 2023 DactylGroup s.r.o.
*
* Licensed under the EUPL, Version 1.2 or – as soon they
will be approved by the European Commission - subsequent
versions of the EUPL (the "Licence");
* You may not use this work except in compliance with the
Licence.
* You may obtain a copy of the Licence at:
*
* https://joinup.ec.europa.eu/software/page/eupl5
*
* Unless required by applicable law or agreed to in
writing, software distributed under the Licence is
distributed on an "AS IS" basis,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either
express or implied.
* See the Licence for the specific language governing
permissions and limitations under the Licence.
*/


@import 'variables';

.mapboxgl-popup-content {
  border-radius: 8px !important;
  box-shadow: 0 0 1px rgba(26, 32, 44, 0.25), 0 2px 8px rgba(26, 32, 44, 0.15), 0 4px 32px rgba(26, 32, 44, 0.1) !important;
  padding: 0 !important;

  span {
    display: block;
  }

  .stations-popup {
    border-top: solid 1px $gray-300;
    margin-bottom: 5px;
    margin-top: 20px;
    max-height: 320px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #cdcdcd transparent;

    &::-webkit-scrollbar {
      width: 5px;
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: #cdcdcd;
    }

    .station-popup {
      display: block;
      font-family: "SF Pro Text", sans-serif;
      padding: 16px;

      &:not(:last-of-type) {
        box-shadow: inset 0px -1px 0px $gray-300;
      }

      &:hover, &:active {
        text-decoration: none;

        .station-popup__name {
          text-decoration: underline;
        }
      }

      &__name {
        color: $gray-900;
        font-feature-settings: 'salt' on;
        font-size: 17px;
        font-style: normal;
        font-weight: bold;
        letter-spacing: -0.4px;
        line-height: 24px;
        margin-bottom: 4px;
      }

      &__position {
        margin-left: 2px;

        img {
          position: relative;
          top: -2px;
        }
      }

      &__type {
        color: $gray-700;
        font-feature-settings: 'salt' on;
        font-size: 11px;
        font-style: normal;
        font-weight: normal;
        line-height: 16px;
        margin-bottom: 12px;
      }

      &__gps, &__direction {
        color: $gray-900;
        font-feature-settings: 'salt' on;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        letter-spacing: -0.154px;
        line-height: 20px;

        &__label {
          color: $gray-700;
          display: inline;
          font-weight: normal;
        }
      }

      &__gps {
        margin-bottom: 4px;
      }
    }
  }
}