/*
* Copyright 2023 DactylGroup s.r.o.
*
* Licensed under the EUPL, Version 1.2 or – as soon they
will be approved by the European Commission - subsequent
versions of the EUPL (the "Licence");
* You may not use this work except in compliance with the
Licence.
* You may obtain a copy of the Licence at:
*
* https://joinup.ec.europa.eu/software/page/eupl5
*
* Unless required by applicable law or agreed to in
writing, software distributed under the Licence is
distributed on an "AS IS" basis,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either
express or implied.
* See the Licence for the specific language governing
permissions and limitations under the Licence.
*/


@import 'variables';
@import 'partial/bootstrap';

main {
  display: flex;
  background: $gray-100;

  .center-container {
    max-width: 840px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    border-radius: 0;
    padding: 32px;
  }
}

.dk--content-box {

  .dk--footer {
    margin: auto -32px 0 -32px;
    padding: 32px 32px 0 32px;
    width: auto;

    &__content,
    &__content--half {
      max-width: 100%;
      padding: 0;
    }
  }
}