/*
* Copyright 2023 DactylGroup s.r.o.
*
* Licensed under the EUPL, Version 1.2 or – as soon they
will be approved by the European Commission - subsequent
versions of the EUPL (the "Licence");
* You may not use this work except in compliance with the
Licence.
* You may obtain a copy of the Licence at:
*
* https://joinup.ec.europa.eu/software/page/eupl5
*
* Unless required by applicable law or agreed to in
writing, software distributed under the Licence is
distributed on an "AS IS" basis,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either
express or implied.
* See the Licence for the specific language governing
permissions and limitations under the Licence.
*/


@import '../../../source_assets/layout/scss/variables';
@import '../../../source_assets/layout/scss/mixins';

.dk--page {
  &--title {
    color: $gray-900;
  }

  &--content {
    color: $gray-700;
    margin-bottom: 40px;

    h1, h2, h3, h4, h5, h6 {
      color: $gray-900;
    }

    .container {
      padding: 0;
      margin: 0;
    }
  }
}