/*
* Copyright 2023 DactylGroup s.r.o.
*
* Licensed under the EUPL, Version 1.2 or – as soon they
will be approved by the European Commission - subsequent
versions of the EUPL (the "Licence");
* You may not use this work except in compliance with the
Licence.
* You may obtain a copy of the Licence at:
*
* https://joinup.ec.europa.eu/software/page/eupl5
*
* Unless required by applicable law or agreed to in
writing, software distributed under the Licence is
distributed on an "AS IS" basis,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either
express or implied.
* See the Licence for the specific language governing
permissions and limitations under the Licence.
*/


@import '../../../source_assets/layout/scss/variables';
@import '../../../source_assets/layout/scss/mixins';

h1 {
  @include font-root-heading-heading-1;
  letter-spacing: 0.148px;
  font-feature-settings: 'salt' on;
}

h2 {
  @include font-root-heading-heading-2;
  letter-spacing: 0.25px;
  font-feature-settings: 'salt' on;
}

h3 {
  @include font-root-heading-heading-3;
  letter-spacing: 0.4px;
  font-feature-settings: 'salt' on;
}

h4 {
  @include font-root-heading-heading-4;
  letter-spacing: 0.4px;
  font-feature-settings: 'salt' on;
}

h5 {
  @include font-root-heading-heading-5;
  letter-spacing: 0.35px;
  font-feature-settings: 'salt' on;
}

h6 {
  @include font-root-heading-heading-6;
  letter-spacing: 0.4px;
  font-feature-settings: 'salt' on;
}

// TODO width
.container {
  width: 1176px;
  max-width: 100%;
  margin: auto;
}

.breadcrumb {
  display: inline-flex;
  align-items: center;
  list-style-type: none;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.15px;
  font-feature-settings: 'salt' on;
  flex-wrap: nowrap;
  overflow: auto hidden;
  padding: 0;

  &__item {
    flex-shrink: 0;

    a {
      color: $primary-400;

      &:hover {
        text-decoration: none;
        color: $primary-500;
      }
    }

    &--current {
      color: $gray-700;
    }
  }

  &__delimiter {
    width: 20px;
    height: 20px;
    flex-shrink: 0;

    img {
      vertical-align: initial;
    }
  }
}

.breadcrumb {
  scrollbar-width: none;
}

.dk--hr {
  background: none;
  box-shadow: 0px 1px 0px $gray-300;
  color: transparent;
  height: 0;
  border-color: transparent;
  margin: 16px 0;
}

#flash-alerts {
  z-index: 9999999999 !important;
}

@import "components/alerts";
@import "components/badge";
@import "components/buttons";
@import "components/chip";
@import "components/daterangepicker";
@import "components/form";
@import "components/grid";
@import "components/modal";
@import "components/progress-bar";
@import "components/table";
@import "components/tooltip";