/*
* Copyright 2023 DactylGroup s.r.o.
*
* Licensed under the EUPL, Version 1.2 or – as soon they
will be approved by the European Commission - subsequent
versions of the EUPL (the "Licence");
* You may not use this work except in compliance with the
Licence.
* You may obtain a copy of the Licence at:
*
* https://joinup.ec.europa.eu/software/page/eupl5
*
* Unless required by applicable law or agreed to in
writing, software distributed under the Licence is
distributed on an "AS IS" basis,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either
express or implied.
* See the Licence for the specific language governing
permissions and limitations under the Licence.
*/


@import '../../../source_assets/layout/scss/_variables';
@import '../../../source_assets/layout/scss/_mixins';

nav {
  ul{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;

    li{

      padding: 0 24px;

      &:hover a {
        text-decoration: none;
        color: $gray-900;
      }

      a {
        @include font-root-button-button-5;
        letter-spacing: -0.15px;
        font-feature-settings: 'salt' on;
        color: $gray-900;
      }
    }
  }
}

#footer-menu {
    li{
      padding: 0 12px;
      a {
        @include font-root-body-body-5-regular;
        letter-spacing: -0.154px;
        font-feature-settings: 'salt' on;
        color: $primary-600;
      }

      &:first-of-type{
        padding-left: 0;
      }
    }
}